<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>Test Completed</h1>
    <p>Attempted test on: {{ sign_up_date }}</p>
    <p>Total Time: <span id="timerDisplay"></span></p>
    <p>Code Paste Count: <span id="pasteCount"></span></p>
    <p>Number of Tab/Window Switches: <span id="tabSwitchCount"></span></p>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const timerDisplay = document.getElementById('timerDisplay');
            const seconds = localStorage.getItem('timer');

            const hours = Math.floor(seconds / 3600);
            const minutes = Math.floor((seconds % 3600) / 60);
            const formattedTime = hours.toString().padStart(2, '0') + ':' + minutes.toString().padStart(2, '0');
            timerDisplay.textContent = formattedTime;
        });

        document.getElementById('pasteCount').innerText = localStorage.getItem('pasteCount') || 0;
        document.getElementById('tabSwitchCount').innerText = localStorage.getItem('tabSwitchCount') || 0;

    </script>
</body>

</html>
