<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #container {
            position: relative;
            width: 100vw;
            height: 95vh;
        }

        #stream {
            position: absolute;
            left: 10px;
            bottom: 10px;
            border-radius: 50%;
            border: 2px solid black;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
    </style>
</head>

<body>
    <div id="container">
        <h1>Test Activated</h1>
        <h1>Camera Stream</h1>
        <img id="stream" src="{% url 'stream_camera' %}" width="200" height="200">
        <button type="button" onclick="complete()">Complete</button>
    </div>

    <script>
        let ctrlPressed = false;
        let vPressed = false;
        let pasteCount = 0;
        let seconds = 0;
        let timerInterval;
        let tabSwitchCount = -1;
        let hidden = false

        function incrementTabSwitchCount() {
            tabSwitchCount++;
            localStorage.setItem('tabSwitchCount', tabSwitchCount);
        }

        document.addEventListener('keydown', (event) => {
            if (event.ctrlKey) {
                ctrlPressed = true;
            }

            if (event.key === 'v' || event.key === 'V') {
                vPressed = true;
            }

            if (ctrlPressed && vPressed) {
                pasteCount++;
                console.log('Ctrl + V pressed! Count:', pasteCount);
            }
        });

        document.addEventListener('keyup', (event) => {
            if (event.key === 'Control') {
                ctrlPressed = false;
            }

            if (event.key === 'v' || event.key === 'V') {
                vPressed = false;
            }
        });

        function complete() {
            clearInterval(timerInterval);
            localStorage.setItem('pasteCount', pasteCount);
            localStorage.setItem('timer', seconds);
            localStorage.setItem('tabSwitchCount', tabSwitchCount);
            window.location.href = '/complete';
        }

        function incrementTabSwitchCount() {
            tabSwitchCount++;
            localStorage.setItem('tabSwitchCount', tabSwitchCount);
        }
    
        function handleVisibilityChange() {
            if (document.visibilityState === 'hidden') {
                hidden = true;
            } else {
                if (hidden) {
                    incrementTabSwitchCount();
                }
                hidden = false;

            }
        }
    
        document.addEventListener("visibilitychange", handleVisibilityChange);
    
        window.onblur = function () {
            incrementTabSwitchCount();
        };

        document.addEventListener('DOMContentLoaded', function () {
            const timerElement = document.createElement('p');
            timerElement.id = 'timer';
            document.body.appendChild(timerElement);

            timerInterval = setInterval(function () {
                seconds++;
                const hours = Math.floor(seconds / 3600);
                const minutes = Math.floor((seconds % 3600) / 60);
                const formattedTime = hours.toString().padStart(2, '0') + ':' + minutes.toString().padStart(2, '0');
                timerElement.innerText = 'Timer: ' + formattedTime;
            }, 1000);
        });

        document.body.addEventListener('click', function() {
            if (document.documentElement.requestFullscreen) {
                document.documentElement.requestFullscreen();
            } else if (document.documentElement.mozRequestFullScreen) { // Firefox
                document.documentElement.mozRequestFullScreen();
            } else if (document.documentElement.webkitRequestFullscreen) { // Chrome, Safari and Opera
                document.documentElement.webkitRequestFullscreen();
            } else if (document.documentElement.msRequestFullscreen) { // IE/Edge
                document.documentElement.msRequestFullscreen();
            }
        });
        
    </script>
</body>

</html>
